.container{
    background-color: #8432df;
    padding: 2%;
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
    justify-content: center;
}

.container-readonly{
    background-color: #8432df;
    padding: 2%;
    width:50%;
    margin-left: 25%;
    margin-top: 5%;
    justify-content: center;
}

.div-with-cols{
    display: flex;
}

.label-div{
    width: 20%;
    padding: 1%;
    margin-left: 5%;
}

.input-div{
    width: 80%;
    padding: 1%;
    margin-left: 5%;
}

.redText{
    color: red;
}

.title{
    text-align: center;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    font-family: "verdana";
    color: white;
}

.center-aligned{
    justify-content: center;
}

.label-text{
    color: white;
    font-weight: bold;
    font-family: "Verdana";
}

.white-text{
    color: white;
}

.fix-width{
    width: 30%;
    text-align: center;
    justify-content: center;
}
#edu_readonly, #skill_readonly{
    border: 1px solid #c080d0;
}